.main-container {
	width: 100%;
	margin: 0 auto;
	padding: 0 8rem;
	overflow: hidden;
	background: #fff;
	max-width: 1110px;
}

.main-container:before {
	-ms-transform: translateX(-1060px);
	transform: translateX(-1060px);
}

.main-container .col-main {
	min-height: 520px;
}

.account-create {
	background: url(../img/bg/register-bg.jpg) no-repeat;
	background-size: cover;
	margin: 1rem 0;
	padding: 60px;
}

.account-create__i {
	overflow: hidden;
	background: #fff;
	padding: 30px 80px 40px;
}

.account-create__title {
	font: 2.2rem 'Times New Roman', serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

font: 1.6rem HelveticaNeue-Light sans-serif;
line-height: 36px;
text-align: center;

.main-container:after {
	-ms-transform: translateX(555px);
	transform: translateX(555px);
}