// Устанавливает шрифт
@charset "UTF-8";
@import url("https:/fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Reg.eot");
  src: local("☺"), url("../fonts/Helvetica-Reg.woff") format("woff"),
    url("../fonts/Helvetica-Reg.ttf") format("truetype"),
    url("../fonts/Helvetica-Reg.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.eot");
  src: local("☺"), url("../fonts/Helvetica-Bold.woff") format("woff"),
    url("../fonts/Helvetica-Bold.ttf") format("truetype"),
    url("../fonts/Helvetica-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCondensedBold";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: local("☺"),
    url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"),
    url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype"),
    url("../fonts/HelveticaNeueBoldCondensed.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanPS-BoldMT";
  src: url("../fonts/TimesNewRomanPS-BoldMT.eot");
  src: local("☺"), url("../fonts/TimesNewRomanPS-BoldMT.woff") format("woff"),
    url("../fonts/TimesNewRomanPS-BoldMT.ttf") format("truetype"),
    url("../fonts/TimesNewRomanPS-BoldMT.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

// Переменые
$fontfamily: "";
$minwidth: 320px;
// Устанавливаем обнуляющие стили
@import "_nullstyle";

// Шапка

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 950px;
  margin: 0px auto;
}

.header {
  &__logo {
    display: flex;
    justify-content: center;
    margin: 17px 0px 0px 0px;
  }

  &__logo img {
    width: 360px;
  }
}

.content {
  flex: 1 1 auto;

  &__body {
    background: url(../img/background/bg_elem_short.png);
    height: 870px;
    position: relative;
  }

  &__body::before {
    content: "";
    width: 505px;
    height: 1300px;
    position: fixed;
    background: url(../img/background/bg__line.jpg);
    bottom: 0px;
    left: 1240px;
  }

  &__body::after {
    content: "";
    width: 505px;
    height: 1300px;
    position: fixed;
    background: url(../img/background/bg__line.jpg);
    bottom: 0px;
    left: -400px;
  }

  &__present {
    padding: 91px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__row {
    display: flex;
  }
}

.present {
  &__hi {
    color: #000000;
    font-family: "TimesNewRomanPS-BoldMT";
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
  }

  &__hi p {
    text-align: center;
  }

  &__text {
    font-family: "HelveticaNeue";
    font-size: 16px;
    line-height: 26px;
  }

  &__text span {
    position: relative;
  }

  &__text span a {
    color: #000000;
  }

  &__text span::after {
    content: "";
    position: absolute;
    width: 91px;
    height: 1px;
    background: black;
    bottom: 0px;
    left: 0px;
  }
}

// Основа

//  левый блок
.left {
  &__block {
  }
}

.block {
  &__club {
    margin: 33px 0px 0px 140px;
  }

  &__border {
    border: 2px solid black;
  }

  &__title {
    text-align: center;
    color: #000000;
    font-family: "TimesNewRomanPS-BoldMT";
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 10px;
  }

  &__image {
    margin-top: 18px;
    padding: 0px 16px 0px 16px;
  }

  &__image img {
    width: 315px;
  }

  &__subtitle {
    margin-top: 22px;
    text-align: center;
    color: #000000;
    font-family: "HelveticaNeue";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
  }

  &__subtitle p {
  }

  &__link {
    width: 266px;
    height: 36px;
    background-color: #000000;
    margin: 25px 0px 0px 0px;
  }
}

.link {
  padding: 8px 0px 0px 0px;
}

.link a {
  color: #ffffff;
  font-family: "Times New Roman PS - Bold MT";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px 0px 50px;
}

// Правый блок

.right {
  &__block {
    margin: 31px 0px 0px 32px;
  }
}

.block {
  &__form {
  }

  &__form form input {
  }
}

.line {
  width: 266px;
  height: 30px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 9px 0px 10px 8px;
  color: #cccccc;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.linelast {
  width: 266px;
  height: 30px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 9px 0px 10px 8px;
  color: #cccccc;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 700;
}

.box {
  margin-bottom: 25px;
}

.label {
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 6px;
}

.proces {
  max-width: 240px;
  opacity: 0.5;
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 6px;
}

.acceptfirst {
  max-width: 244px;
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
  display: inline-block;
  position: relative;
  top: 29px;
}

.acceptsecond {
  max-width: 203px;
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
  display: inline-block;
  position: relative;
  top: 24px;
}

.rules {
  position: relative;
  margin: 5px 0px 0px 0px;
}

.rules a {
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
  display: inline-block;
  position: relative;
}

.rules::after {
  content: "";
  position: absolute;
  width: 156px;
  height: 1px;
  background: black;
  bottom: 0px;
  left: 0px;
}

.terms {
}

.circs {
  position: relative;
}

.circs a {
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
}

.circs::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background: black;
  bottom: 0px;
  left: 0px;
}

// popup

.center {
  &__block {
    display: block;
    position: fixed;
    top: 0px;
    z-index: 150;
  }
}
.block {
  &__popup {
    background: #fff;
    border: 1px solid #000;
  }
}
.popup {
  &__left {
  }

  &__right {
  }
}
.left {
  &__join {
    text-align: center;
    margin-top: 10px;
    color: #000000;
    font-family: "TimesNewRomanPS-BoldMT";
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }

  &__join::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #ccc;
    left: 0;
    top: 0;
    position: absolute;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin: 15px 0px 15px 0px;
  }

  &__icon img {
    width: 35px;
    height: 35px;
  }

  &__form {
  }
}
.icon {
  &__fc {
    width: 35px;
    height: 35px;
  }

  &__vk {
    width: 35px;
    height: 35px;
    margin: 0px 25px 0px 25px;
  }

  &__in {
    width: 35px;
    height: 35px;
  }
}
.label {
}
.line {
}
.box {
}

// Подвал
.footer {
}
