@charset "UTF-8";
@import url("https:/fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Reg.eot");
  src: local("☺"), url("../fonts/Helvetica-Reg.woff") format("woff"), url("../fonts/Helvetica-Reg.ttf") format("truetype"), url("../fonts/Helvetica-Reg.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.eot");
  src: local("☺"), url("../fonts/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica-Bold.ttf") format("truetype"), url("../fonts/Helvetica-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCondensedBold";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: local("☺"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype"), url("../fonts/HelveticaNeueBoldCondensed.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanPS-BoldMT";
  src: url("../fonts/TimesNewRomanPS-BoldMT.eot");
  src: local("☺"), url("../fonts/TimesNewRomanPS-BoldMT.woff") format("woff"), url("../fonts/TimesNewRomanPS-BoldMT.ttf") format("truetype"), url("../fonts/TimesNewRomanPS-BoldMT.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 950px;
  margin: 0px auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 17px 0px 0px 0px;
}

.header__logo img {
  width: 360px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content__body {
  background: url(../img/background/bg_elem_short.png);
  height: 870px;
  position: relative;
}

.content__body::before {
  content: "";
  width: 505px;
  height: 1300px;
  position: fixed;
  background: url(../img/background/bg__line.jpg);
  bottom: 0px;
  left: 1240px;
}

.content__body::after {
  content: "";
  width: 505px;
  height: 1300px;
  position: fixed;
  background: url(../img/background/bg__line.jpg);
  bottom: 0px;
  left: -400px;
}

.content__present {
  padding: 91px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.present__hi {
  color: #000000;
  font-family: "TimesNewRomanPS-BoldMT";
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}

.present__hi p {
  text-align: center;
}

.present__text {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 26px;
}

.present__text span {
  position: relative;
}

.present__text span a {
  color: #000000;
}

.present__text span::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 1px;
  background: black;
  bottom: 0px;
  left: 0px;
}

.block__club {
  margin: 33px 0px 0px 140px;
}

.block__border {
  border: 2px solid black;
}

.block__title {
  text-align: center;
  color: #000000;
  font-family: "TimesNewRomanPS-BoldMT";
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 10px;
}

.block__image {
  margin-top: 18px;
  padding: 0px 16px 0px 16px;
}

.block__image img {
  width: 315px;
}

.block__subtitle {
  margin-top: 22px;
  text-align: center;
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 25px;
}

.block__link {
  width: 266px;
  height: 36px;
  background-color: #000000;
  margin: 25px 0px 0px 0px;
}

.link {
  padding: 8px 0px 0px 0px;
}

.link a {
  color: #ffffff;
  font-family: "Times New Roman PS - Bold MT";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px 0px 50px;
}

.right__block {
  margin: 31px 0px 0px 32px;
}

.line {
  width: 266px;
  height: 30px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 9px 0px 10px 8px;
  color: #cccccc;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.linelast {
  width: 266px;
  height: 30px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 9px 0px 10px 8px;
  color: #cccccc;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 700;
}

.box {
  margin-bottom: 25px;
}

.label {
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 6px;
}

.proces {
  max-width: 240px;
  opacity: 0.5;
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 6px;
}

.acceptfirst {
  max-width: 244px;
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
  display: inline-block;
  position: relative;
  top: 29px;
}

.acceptsecond {
  max-width: 203px;
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
  display: inline-block;
  position: relative;
  top: 24px;
}

.rules {
  position: relative;
  margin: 5px 0px 0px 0px;
}

.rules a {
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
  display: inline-block;
  position: relative;
}

.rules::after {
  content: "";
  position: absolute;
  width: 156px;
  height: 1px;
  background: black;
  bottom: 0px;
  left: 0px;
}

.circs {
  position: relative;
}

.circs a {
  color: #000000;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 300;
  line-height: 13.97px;
}

.circs::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background: black;
  bottom: 0px;
  left: 0px;
}

.center__block {
  display: block;
  position: fixed;
  top: 0px;
  z-index: 150;
}

.block__popup {
  background: #fff;
  border: 1px solid #000;
}

.left__join {
  text-align: center;
  margin-top: 10px;
  color: #000000;
  font-family: "TimesNewRomanPS-BoldMT";
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.left__join::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
  left: 0;
  top: 0;
  position: absolute;
}

.left__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px 15px 0px;
}

.left__icon img {
  width: 35px;
  height: 35px;
}

.icon__fc {
  width: 35px;
  height: 35px;
}

.icon__vk {
  width: 35px;
  height: 35px;
  margin: 0px 25px 0px 25px;
}

.icon__in {
  width: 35px;
  height: 35px;
}
/*# sourceMappingURL=style.css.map */